.enter-name__button {
  width: 340px;
  height: 56px;
  margin: 0 auto;
  background: rgb(185, 246, 246);
  border-radius: 28px;
  text-align: center;
  color: rgb(187, 130, 130);
  font-size: 24px;
  font-weight: bold;
  line-height: 56px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3),
    inset 0 2px 6px rgba(0, 0, 0, 16%);
  display: block;

  &:active {
    transform: translate(2px, 2px);
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.3),
      inset 0 2px 6px rgba(0, 0, 0, 16%);
  }

  &.disable {
    cursor: default;
    background: rgb(201, 233, 233);

    &:active {
      transform: translate(0, 0);
      box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3),
        inset 0 2px 6px rgba(0, 0, 0, 16%);
    }
  }

  &.hidden {
    opacity: 0;
  }

  &.fade-in {
    animation: enter-name__button-fade-in 2s forwards;
  }

  &.fade-out {
    animation: enter-name__button-fade-out 2s forwards;
  }
}

@keyframes enter-name__button-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes enter-name__button-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
