.enter-name-frame {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 200px;
}

.enter-name__bubble-frame {
  height: 136px;
  width: 300px;
  margin: 0 auto;
}

.enter-name__input-frame {
  position: relative;
  width: 100%;
  height: 56px;
}


.enter-name__button-frame {
  width: 100%;
  height: 56px;
  margin-top: 24px;
}